{% extends "home/base-min.html" %}
{% block content %}
	<div class='impressum'>
		<h1>Legal Information</h1>
		<p>Information in accordance with § 5 TMG</p>
		<p>Lars Christian Schwensen<br> 
			1 Rue Henri Ziegler<br> 
			31300 Toulouse <br>
			France <br> 
		</p>
		<p> 
			<strong>Represented by: </strong><br>
			Lars Christian Schwensen<br>
		</p>
		<p>
			<strong>Contakt:</strong> <br>
			Phone: +33 7 53 81 85 86<br>
			Fax: -<br>
			E-Mail: <a href='mailto:info@cleanbyte.de'>info@cleanbyte.de</a></br>
		</p>
		<p>
			<strong>Tax ID: </strong> <br>
			Sales tax identification number according to §27a sales tax law: -<br><br>
			<strong>Commercial identification number: </strong><br>
			-<br>
		</p>
		<p>
			<strong>Regulatory Authority:</strong><br>
			⁻<br>
		</p>
		<p>
			<strong>Disclaimer: </strong><br><br>
			<strong>Accountability for content</strong><br><br>
			The contents of our pages have been created with the utmost care. However, we cannot guarantee the contents' accuracy, completeness or topicality. According to statutory provisions, we are furthermore responsible for our own content on these web pages. In this matter, please note that we are not obliged to monitor the transmitted or saved information of third parties, or investigate circumstances pointing to illegal activity. Our obligations to remove or block the use of information under generally applicable laws remain unaffected by this as per §§ 8 to 10 of the Telemedia Act (TMG). 
		</p><br> 
		Impressum from <a href="https://www.impressum-generator.de">Impressum Generator</a> of <a href="https://www.kanzlei-hasselbach.de/">Kanzlei Hasselbach, Rechtsanwälte für Arbeitsrecht und Familienrecht</a><br><br>
		<a href="#" title="German version">Deutsche Version</a>
 	</div>
{% endblock content %}