{% extends "base-min.html" %}
{% block content %}
	<div>
    <h1>Copyrights</h1>
    <p>
    	All rights reserved. This website or any portion thereof, including its creative content may not be reproduced or used in any manner whatsoever without the express written permission of the publisher.
    </p>
    <p>
    	This website makes use of the following resources:
    	<ul>
    		<li><a href="https://github.com/NathanUA/U-2-Net" target="_blank">U-2-Net source code</a></li>
    		<li><a href="https://www.creative-tim.com/" target="_blank">Website template by Creative Tim</a></li>
    		<li><a href="https://unsplash.com/@rev3n" target="_blank">Header image by Michał Kubalczyk</a></li>
    	</ul>
    </p>
    <p>
        Please contact the copyright holder for more information about the terms and conditions for these resources.
    </p>
    </div>
{% endblock content %}