{% extends "home/base-min.html" %}
{% block content %}
	<div class='impressum'>
		<h1>Impressum</h1>
		<p>Angaben gemäß § 5 TMG</p>
		<p>Lars Christian Schwensen<br> 
			1 Rue Henri Ziegler<br> 
			31300 Toulouse <br>
			Frankreich <br> 
		</p>
		<p> 
			<strong>Vertreten durch: </strong><br>
			Lars Christian Schwensen<br>
		</p>
		<p>
			<strong>Kontakt:</strong> <br>
			Telefon: +33 7 53 81 85 86<br>
			Fax: -<br>
			E-Mail: <a href='mailto:max@muster.de'>lars.schwensen@cleanbyte.de</a></br>
		</p>
		<p>
			<strong>Umsatzsteuer-ID: </strong> <br>
			Umsatzsteuer-Identifikationsnummer gemäß §27a Umsatzsteuergesetz: -<br><br>
			<strong>Wirtschafts-ID: </strong><br>
			-<br>
		</p>
		<p>
			<strong>Aufsichtsbehörde:</strong><br>
			⁻<br>
		</p>
		<p>
			<strong>Haftungsausschluss: </strong><br><br>
			<strong>Haftung für Inhalte</strong><br><br>
			Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
		</p><br> 
		Impressum vom <a href="https://www.impressum-generator.de">Impressum Generator</a> der <a href="https://www.kanzlei-hasselbach.de/">Kanzlei Hasselbach, Rechtsanwälte für Arbeitsrecht und Familienrecht</a><br><br>
		<a href="#" title="English version">English Version</a>
 	</div>
{% endblock content %}
